{% extends 'home/base.html' %}
{% load static %}
{% block title %}
{% load crispy_forms_tags %}
    Your Shopping Cart| Checkout
{% endblock %}

{% block content %}
    <div class="container">
        <div class="container" style="margin-top: 6%">
            <div class="col-md-4">
                <h4 class="page-header">Checkout</h4>
                <form action="." class="form-horizontal" method="post" id="orderForm" data-lga-url="{% url 'load_lga'%}">
                    {% csrf_token %}
                    <div class="form-group">
                    {{ form|crispy }}
                    </div>

                    <input type="submit" class="btn btn-primary" value="Submit order">
                </form>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <div class="page-header">
                    Your Order
                </div>
                <ul class="list-group">
                    {% for item in cart %}
                        <li class="list-group-item">
                        {{ item.quantity }}x {{ item.product.name }}
                        <span>Naira. {{ item.total_price }}</span><span>{{item.sizes}}</span>
                        </li>
                    {% endfor %}

                <li class="list-group-item active">Total Cost: Naira. {{ cart.get_total_price }}</li>
                </ul>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascript%}
 <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="crossorigin="anonymous"></script>
  <script>
    $("#id_state").change(function () {
      var url = $("#orderForm").attr("data-lga-url");  // get the url of the `load_cities` view
      var stateID = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'state': stateID       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_lga").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>
  {%endblock%}