{% load static from staticfiles%}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <a href="{% url 'password_reset' %}">Forgot Password</a>
    <button type="submit">Login</button>
    <a href="{% url 'register' %}"><button>Sign Up</button></a>
  </form>
</body>
<script type="text/javascript" src="{% static 'asset/js/bootstrap.min.js' %}"></script>
</html>