{% load static from staticfiles%}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href=" {% static 'css/bootstrap.min.css' %} ">
  <link rel="stylesheet" type="text/css" href="{%static 'css/style1.css' %}">
</head>
<body style="background-color: #cccccc">
<div class="container">
    <br>
    <div class="row">
      <div class="col-md-5 col-xs-5"></div>
       <div class="col-md-2 col-xs-2">
          <img class="" src="{%static 'img/exousia 1.png' %}" width="160px" >
      </div>
    <div class="col-md-5 col-xs-5"></div>
 </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
              
            </div>
            
            <div class="col-md-6 col-xs-12">
          <div class="row">
              <div class="col-md-2 col-xs-3"></div>
              <div class="col-md-8 signin col-xs-6" style="background-color:#ffad60; border-radius:10px;">
                
               <center><p style="margin-bottom:20px;" id="signupt">SIGN IN</p></center> 
                <form method="post">
                  {% csrf_token %}
                        <div class="form-group">
                        {{form.username|as_crispy_field}}
                        </div>
                        <div class="form-group">
                          {{form.password|as_crispy_field}}
                        </div>
                        <div   class="form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Remember me</label>
                        </div>
                        
                        <center><button type="submit" class="btn btn-danger" style="width
                        :80%">Submit</button></center>
                </form>
               <a href="{% url 'password_reset' %}"><center><div  class="passwordreset">Forgot password?</div></center></a>
               <a href="{% url 'register' %}"><center><div  class="passwordreset">Dont have an Account?</div></center></a>  
                <center><div style="font-weight:900; margin-top:10px;" class="orset"> OR</div></center>
                <center><div style="font-weight:900; margin-top:10px;" class="orset"> SIGN IN WITH...</div></center>
             <center> <div style="margin-top:10px; padding: 10px;" class="buttons">
                <a href="{% url 'social:begin' 'facebook' %}"><button type="button" class="btn btn-default" style="font-weight:bold;"><img src="{% static 'img/facebook1.png' %}">FACEBOOK</button></a>
                <a href=""><button type="button" class="btn btn-default" style="font-weight:bold;"><img src="{% static 'img/twitter.png' %}">TWITTER</button></a>
                <a href="{% url 'social:begin' 'google-oauth2' %}"><button type="button" class="btn btn-default" style="font-weight:bold;"><img src="{% static 'img/search.png' %}">GOOGLE</button></a>

               </div></center>  </div>
              
              <div class="col-md-2"></div>
          </div>
    
              </div>
    
              <div class="col-md-3">
                  <div class="col-md-12">
        
                  </div>
                </div>
            
        
    </div>
</div>
</div>
</body>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</html> 
